@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff5ff;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 1024px) {
    background-image: none;
    background-size: auto;
  }

  .bg-sidebar-desktop {
    @media (min-width: 1024px) {
      background-image: url("./assets/images/bg-sidebar-desktop.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 568px;
    }
  }
}
